footer{
  background-color: #00020c;
  border-top: #b3bfc6 solid 1px;
}

footer a{
  color: #746458;
}

footer a:hover, header a:hover{
  color: #385569;
}

#footer-bottom{
  padding: 25px;
  color: #464648;
}

#copyright {
  color: #385569;
}

#RazinkovaR{
  color: #969696;
}

header{
  background-color: #00020c;
}

header a{
  color: #fff0ce;
  font-size: 1.3em;
}

#brand{
  font-family: Logo;
  font-size: 1.6em;
}

body{
  background-color: #ddebf1;
}

.employeePhotos{
  border-radius: 125px;
  width: 250px;
  height: 250px
}

.employee_name{
  border-bottom: solid #707d84 1px;
  display: inline-block;
  color: #000003;
}

.employee_post{
  font-size: 1.1em;

}

.employeePhotos_admin{
  border-radius: 50px;
  width: 100px;
  height: 100px
}

.indexCard{
  transition:.5s
}

.indexCard:hover{
  transform:scale(1.1);
  transition:.5s
}

.indexCard a{
  text-decoration: none;
  color: black;
}

.nav-link-catalog{
  background-color: #ddebf1 !important;
  font-size: 1.3em;
}
