<footer class="containter-fluid text-center mt-3" >
  <div class="container-fluid">
    <div class='row' id='footer-bottom'>
      <div class="col-md">
        <span id='copyright'>Copyright &copy; 2020 WiseMirror</span> | <a href="/index/faq">FAQ</a> |
        <a href="/index/contact">Задать вопрос</a>
      </div>
      <div class="col-md" >
        Designed by<span id='RazinkovaR'> RazinkovaR</span>
      </div>
    </div>
  </div>
</footer>
