<header class="container-fluid">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="/">
        <?php
          use Phalcon\Tag;
          echo Tag::image(
            [
              'img/logo.png',
              'alt' => 'Logo',
              'width' => '80'
            ]
          );
         ?>
      </a>
      <a class="navbar-brand" href="/" id='brand'>WISE <br> MIRROR</a>
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto ">
          <li class="nav-item">
            <a class="nav-link" href="/">Главная</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="/index/team">Наша команда</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="/index/catalog">Каталог товаров</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="/index/faq">FAQ</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="/index/contact">Задать вопрос</a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="/index/cart">Корзина</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
