<div class="container">
  <div class="row">
    <div class="col">
      <h1 class='text-uppercase font-weight-bold mt-3 text-center' >Задать вопрос</h1>
      <div id='contactFormMessage' class="alert text-center" role="alert"></div>
      <form id='sendQuestionForm' action="/index/send" method='post'>
        <div class="form-group">
          <label for="contactFormEmail">Email</label>
          <input required type="email" id='contactFormEmail' name='contactFormEmail' class="form-control">
          <label for="contactFormName">Имя</label>
          <input required type="text" id='contactFormName' name='contactFormName' class="form-control">
          <label for="contactFormQuestion">Вопрос</label>
          <textarea  required rows='5' class="form-control" id="contactFormQuestion" name='contactFormQuestion'></textarea>
          <div class="container-fluid text-center">
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary mt-2 text-center">Отправить</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div id='formStatus' class=' invisible spinner-border text-primary mt-2 mb-2' role='status'></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
