<div class="container">
  <div class="row">
    <div class="col-md">
      <h1 class='text-uppercase font-weight-bold mt-5 mb-5  text-center' >Часто задаваемые вопросы FAQ</h1>
      <?php
        foreach($faqGroups as $faqGroup) {
          echo "<h2 class='mt-5 mb-5 text-uppercase font-weight-bold'>".$faqGroup->faq_group_title."</h2>";
          $group_id = $faqGroup->faq_group_id;
          $faqs = Faqs::find([
            'conditions' => "faq_group_id=$group_id AND faq_hidden='0'",
            'order' => 'faq_position ASC'
          ]);
          foreach($faqs as $faq) {
            echo "<h3 class='mt-5 mb-5 text-uppercase font-weight-bold'>".$faq->faq_title."</h3>";
            echo "<p>".$faq->faq_description."</p>";
          }
        }
       ?>
    </div>
  </div>
</div>
