<div class="container text-center">
  <div class="row mt-5 mb-5">
    <?php
      use Phalcon\Tag;
      foreach($mirrors as $mirror) {
          echo "<div class='col-md indexCard'><a target='_blank' href='/index/product/$mirror->product_id'>";
          echo Tag::image(
            [
              $mirror->product_photo,
              'alt' => 'Product photo',
              'class' => 'indexPhotos img-fluid'
            ]
          );
          echo "<p class='font-weight-bold text-center text-uppercase mt-3'>$mirror->product_title<p>";
          echo "</a></div>";
      }
     ?>
  </div>
</div>
