<div class="container text-center mt-5 bg-light">
  <div class="row">
    <div class="col-md">
      <h1 class='h1 mb-3'>Итого: <?php echo $this->session->ordered ?> рублей</h1>
      <iframe src="https://yoomoney.ru/quickpay/button-widget?targets=%D0%BE%D0%BF%D0%BB%D0%B0%D1%82%D0%B0%20%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0&default-sum=<?php echo $this->session->ordered ?>&button-text=11&any-card-payment-type=on&button-size=l&button-color=orange&successURL=/index/success&quickpay=small&account=4100116348657849&" width="227" height="48" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
    </div>
  </div>
</div>
