<div class="container text-center mt-5 bg-light">
  <div class="row">
    <div class="col-md">
      <h1 class='h1 mb-3'>Ваш заказ уже в пути!</h1>
      <p>Спасибо, что пользуетесь нашими товарами и услугами!</p>
      <p>На Вашу электронную почту выслан номер заказа - воспользуйтесь им, если вдруг возникнут какие-то вопросы</p>
      <a class='mt-3' href="/">На главную</a>
    </div>
  </div>
</div>
