<div class="container">
  <div class="row">
    <div class="col-md">
      <form class='mt-5' id='changePasswordForm' action="/admin/changePassword" method='post'>
        <div class="row">
          <div class="col-md">
            <input name='newPassword1' id='newPassword1' required type="password" class="form-control" placeholder="Новый пароль">
          </div>
          <div class="col-md">
            <input name='newPassword2' id='newPassword2' required type="password" class="form-control" placeholder="Новый пароль ещё раз">
          </div>
          <div class="col-md">
            <button type="submit" class='btn btn btn-warning'>Сменить пароль</button>
          </div>
        </div>
      </form>
      <button type="button" class='btn btn btn-danger mt-5' name="adminExitButton" id='removeUnnecessaryEmployeePhotos'>Удалить "осиротевшие" фото сотрудников</button><br>
      <button type="button" class='btn btn btn-danger mt-5' name="adminExitButton" id='adminExitButton'>Выход</button>
    </div>
  </div>
</div>
